/* site colors from dark to light*/
:root {
    --dark: #1A374D;
    --main-color: #406882;
    --light-color: #6998AB;
    --light: #B1D0E0;
  }

body {
    font-family: 'Ubuntu', sans-serif;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h2 {
    font-size: 3.125rem;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--dark);
}

a {
    text-decoration: none;
    display: inline-block;
}
a.active {
    color: var(--main-color) !important;
}

img {
    width: 100%;
    vertical-align: middle;
}

/* utility classes */
.btn {
    color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 12px;
    transition: .3s ease-in-out;
}

.btn--dark {
    color: var(--dark);
    border: 1px solid var(--dark);
}

.btn--dark:hover {
    color: var(--dark);
    background-color: var(--light-color);
}

.btn--white:hover {
    color: var(--dark);
    background-color: #fff;
}

/* ////////////////////////////////////////////////////////////////////// */
/* NAVIGATION */
nav {
    /* background-color: #ccc; */
    padding: 0.8rem 1.5rem;
    border-bottom: 2px solid var(--dark);
    box-shadow: 2px 2px 4px var(--dark);
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 50px;
}

.logo a {
    font-size: 2rem;
    color: var(--dark);
    font-weight: 700;
    line-height: 1;
    transition: 0.2s ease-in-out;
}

.logo a:hover {
    color: var(--main-color);
}


.logo a span {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar-menu {
    display: flex;
}

.navbar-menu a {
    color: #000;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    display:  block;
    padding: 0.5rem 1rem;
    transition: ease-in-out;
    transition-duration: .3s;
}

.navbar-menu a:hover {
    color: var(--main-color);
}

/* mobile menu icon styles */
button.mobile-menu-icon {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button.mobile-menu-icon:hover .line {
    background-color: var(--main-color);
}

.line {
    height: 2px;
    width: 30px;
    margin-bottom: 5px;
    background-color: var(--dark);
    transition: .3s ease-in-out width;
    margin-left: auto;
}

.line:last-child {
    margin-bottom: 0;
}

/* mobili menu icon javascript */
.top-line-animation {
    width: 20px;
}

.middle-line-animation {
    width: 25px;
}

/* //////////////////////////////////////////////////////////////////////////////// */
main {
    padding: 3rem 0;
}
/* HOME PAGE */

/* main content styles */
.box {
    line-height: 1.5;
    margin-bottom: 3rem;
    display: flex;
    text-align: center;
    background-color: var(--light);
    color: var(--dark);
}

.box:nth-child(1) {
    background-color: var(--dark);
    color: #fff;
}

.box:nth-child(even) .box-text {
    order: 2;
}

.box:first-child h2 {
    color: #fff;
}

.box p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.box-text, .box-slika {
    flex: 1;
}

.box-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-content {
    padding: 2rem 4rem;
}

/* ///////////////////////////////////////////////////////////////////////////// */
/* ACTION PAGE */
.action-container {
    background-color: var(--dark);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.action-container article {
    width: 25%;
    padding: .5rem;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.1rem;
    color: red;
    padding: 0.5rem 0;
    margin-bottom: 0;
}

.desc {
    color: var(--light-color);
    padding: 0 1rem 1rem;
}

.price, .desc {
    background-color: #fff;
}

/* ///////////////////////////////////////////////////////////////////////////// */
/* LOGIN PAGE */
.form-login {
    padding: 3rem 0;
    background-image: linear-gradient(to right, var(--dark) , var(--light-color));
}

.form-login h2, .form-login label {
    color: #fff;
}

form {
    width: 50%;
    max-width: 350px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    letter-spacing: 2px;
}

.form-group input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid var(--dark);
    border-radius: 4px;
    margin-top: .6rem;
}

.btn-login {
    min-width: 30%;
    padding: 0.5rem 1rem;
    border: 1px solid  var(--dark);
    border-radius: 4px;
    color: #fff;
    background-color: var(--dark);
    font-size: 1.2rem;
}

.btn-login:hover {
    cursor: pointer;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* ///////////////////////////////////////////////////////////////////////////// */
/* KONTAKT PAGE */
.contact {
     padding: 2rem 4rem;
}

.radno-vreme {
    color: rgb(233, 12, 12);
    font-weight: 400;
    font-size: 1.2rem;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-info li {
    padding: 0.5rem 1rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 1.3rem;
    color: #fff;
    background-color: var(--light-color);
}

.contact-info li:first-child {
    border-top-left-radius: 30%;
}

.contact-info li:last-child {
    border-bottom-right-radius: 30%;
}

.contact-info li a {
    color: #fff;
}

.contact-info li:nth-child(2) {
    background-color: var(--dark);
}

.contact-icon {
    margin-right: 1rem;
}

/* google maps styles */
.mapouter, .gmap_canvas, .mapouter iframe {
    width: 600px;
    height: 350px;
}

.mapouter {
    position:relative;
    text-align:right;
    margin-bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0; 
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* FOOTER */
footer {
    border-top: 2px solid var(--dark);
}

.footer-links-container {
    display: flex;
}

.footer-links {
    padding: 2rem;
}

.footer h3 {
    color: var(--dark);
    font-size: 1.188rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.footer-links a {
    color: var(--light-color);
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.footer-links a:hover {
    color: var(--main-color);
}

.social-icon {
    margin-right: 1.1rem;
}

.copy-rights {
    padding: 2rem;
    background-color: var(--light);
    color: var(--dark);
}

/* @ MEDIA */
@media only screen and (max-width: 968px) { 
    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 1.4px;
        margin-bottom: 1rem;
    }

    /* header style */
    .logo {
        margin-right: 20px;
    }

    .logo a {
        font-size: 1.5rem;
    }

    .logo a span {
        font-size: 1.2rem;
    }

    .navbar-menu a {
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: 1.2px;
        padding: 0.5rem .8rem;
    }

    /* home page */
    .box {
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }

    .box-content {
        padding: 1.5rem 1.5rem;
    }

    
    .box p {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .box-slika {
        margin: auto;
    }

    /* contact page */
    .contact-info {
        padding: 2rem 2rem;
    }

    .contact-info li {
        font-size: 1.188rem;
    }
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 2rem;
        padding: 2rem 0 1rem;
        margin: 0;
    }

    body {
        margin-top: 77px;
    }
    
    /* navigation */
    nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        background-color: #fff;
        justify-content: space-between;
    }

    .navbar-menu {
        background-color: #fff;
        /* display: none; */
        flex-direction: column;
        position: fixed;
        width: 90%;
        height: 100vh;
        top: 77px;
        left: 0;
        z-index: 3;
        transform: translateX(-100%);
        transition: 1s ease-in-out transform;
    }

    .show-menu {
        transform: translateX(0);
    }

    button.mobile-menu-icon {
        display: block;
    }
    
    /* home page */
    .box {
        flex-direction: column;
    }

    .box-text {
        order: 2;
    }

    .box-slika {
        margin: 0;
    }

    /* action page */
    .action-container article {
        width: 50%;
    }

    /* login page */
    form {
        width: 95%;
        max-width: 350px;
        margin: 0 auto;
    }

    /* contact page */
    .contact {
        padding: 1rem;
    }

    .contact-info {
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .contact-info li {
        width: 100%;
        min-height: 55px;
        justify-content: flex-start;
        margin-bottom: 3px;
    }

    .mapouter, .gmap_canvas, .mapouter iframe {
        width: 360px;
        height: 300px;
    }
    
}

@media only screen and (max-width: 600px) {
    .action-container article {
        width: 100%;
    }
}


